/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #606161;
     font-size: 13px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 700px;
  margin: auto;
  height: auto;
  border: 3px solid green;

}

header {
  background: url(../images/header_bg.jpg) no-repeat center top;
  height: 408px;
  padding-top:20px;
}

.benefits_layout {
  background: #f0efef;
  height: 300px;
  padding-top: 30px;
}





/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.header_layout {
  color: #FFF;
  padding-top:0;
}

.logo {
    font-weight: 800;
    font-size: 24px;
}

.header_logo_position {
    margin-left: 50px;
    margin-top: 0px;
  }

.tagline {
  font-weight: 600;
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  font-size: 24px;
}


.button {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 800;
  border-radius: 5px;
}

.header_button {
  font-size: 14px;
  color: #000;
  background: #f9e42e;
}

.header_button_position {
  margin-top: 50px;
  margin-left: 275px;
}

.benefits_section_header {
  font-weight: 600;
  font-size: 20px;
  margin-top: 0;
  margin-left: 60px;
  margin-bottom: 10px;

}

.benefits_text {
  font-weight: 300;
  font-size: 13px;
  margin-left: 60px;
  width: 300px;
}

.benefits_text p {
  margin-bottom: 30px;
}

.benefits_text ul li {
  margin-bottom: 5px;
}

.testimonial_layout {
  background: #121212;
  height: 200px;
  padding-top: 30px;
}

.quote {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #F0EFEF;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
} 

.quote_credit {
  font-weight: 600;
  font-style: normal;
}

.signup {
  background: #f9e42e;
  height: 75px;
  padding-top: 30px;
}

.signup_button {
  font-size: 12px;
  color: #F0EFEF;
  background: #033048;
}

.signup_button_position {
  margin-top: 0;
  margin-left: 275px; 
}

footer {
  background: #000;
  height: 200px;
  padding: 30px;
}

.footer_logo_position {
    margin-top: 0px;
    text-align: center;
    color: #f9e42e;
  }

.social {
  margin-left: auto;
  margin-right:auto;
}


.social li {
  display: inline;
  padding: 20px;
  text-align: center;
}
